<% if current_user  %>
  <script>
    window.currentUser = {
      "id": <%= current_user.id %>,
      "username": "<%= current_user.username %>"
    };
  </script>
<% end %>

<script type="text/javascript" >
  window.staticImages = {
    logo: "<%= image_path('logo.jpg')%>",
    mainpage: "<%= image_path('main_page_background.jpg')%>"
  }
</script>
<main id="root"></main>
