.notebook-form-wrapper {
  width: 100%;
  height: 99vh;
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.notebook-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  margin: auto;
  padding-bottom: 50px;

  h3 {
    font-family: helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #d9d9d9;
    width: 160px;
    margin: 5px auto 40px;
    text-align: center;
    padding: 15px;

  }

  .notebook-header-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .notebook-title-input {
    font-size: 32px;
    font-weight: 300;
    line-height: 45px;
    text-align: center;
    // Center the title input
    padding-left: 20px;
  }

  // placeholder color
  .notebook-title-input::placeholder {
    color: rgb(196, 196, 196)
;
  text-align: center;
    // color: #878787;
  }

  .notebook-title-input:focus {
    outline: none;
  }

  .notebook-form-button {
    display: flex;
    justify-content: space-between;
    // align-items: center;

    border-radius: 5px;
    // margin: 38px;
    // width: 160px;
    font-size: 16px;
    font-weight: 500;
    font-family: helvetica, arial, sans-serif;
    margin-top: 80px;
    // padding: 25px;

    .cancel-notebook-add {
      border: 1px solid #d9d9d9;
      // color: #c4c4c4;
      text-align: center;
      background-color: #ececec;
      color: #000000;
      border-radius: 5px;
      padding: 10px;
      font-size: 11px;
      margin-right: 10px;
      width: 160px;
    }

    .cancel-notebook-add:hover {
      background-color: #C4C4C4;
;
    }

    input {
      color: #ffffff;
      background-color: rgb(45, 190, 96);
      border-radius: 5px;
      width: 160px;
      padding: 10px;
    }

    input:hover {
      background-color: rgb(31, 174, 82);
    }

    input:disabled {
      opacity: 0.5;
    }

  }

}

.create-notebook-icon {
  // color: #6a6a6a;
  color: rgb(135, 135, 135)
;
  font-size: 48px;
}
