.main-page {
  height: 99vh;
  width: 100%;
  display: flex;
  // align-items: center;
}

.nav-side-bar-area {
  position: absolute;
}

.notes-index-area {
  position: relative;
  // width of side nav bar
  left: 73px;
  // width of notes index container
  width: 350px;
  height: 99vh;
  border-right: 1px solid #ececec;
  overflow: auto;
}

.notes-editing-area {
  position: relative;
  left: 73px;
  width: 100%;
  height: 98vh;
}
