.main-page {
  height: 99vh;

}

.nav-side-bar-area {
  position: absolute;
}

.notes-index-area {
  position: relative;
  // width of side nav bar
  left: 73px;
  // width of notes index container
  width: 350px;
  height: 99vh;
  border-right: 1px solid #ececec;
  overflow: scroll;
}
