.side-bar-area {
  height: 100vh;
  width: 73px;;
  border-right: 1px solid rgb(222,222,222);
  background-color: #F3F3F3;

  .side-bar-logo {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center center;
  }
}
