.notebook-notes-index-title {

  background-color: #393d41;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;

}

.notes-index-title .notebook-notes-index-title {
  h3 {
    color: #ffffff;
  }
}
