// .rich-text-editor {
//   height: 99vh;
//   border
// }

#editor-container {
  height: 375px;

  strong {
    font-weight: bold;
  }
  em {
  font-style: italic;
  }
  u {
  text-decoration: underline;
  }
}
